<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>


          <service name="Delta.DeltaManager.BookingNS.BookingManager">
            <endpoint address="" binding="basicHttpBinding" contract="Delta.DeltaManager.BookingNS.IBookingManager">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager" />
              </baseAddresses>
            </host>
          </service>
          <service name="Delta.DeltaManager.CarNS.CarManager">
            <endpoint address="" binding="basicHttpBinding" contract="Delta.DeltaManager.CarNS.ICarManager">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.CarNS/CarManager" />
              </baseAddresses>
            </host>
          </service>

          <service name="Delta.DeltaManager.ReportNS.ReportManager">
            <endpoint address="" binding="basicHttpBinding" contract="Delta.DeltaManager.ReportNS.IReportManager">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager" />
              </baseAddresses>
            </host>
          </service>

          <service name="Delta.DeltaManager.ServiceNS.ServiceManager">
            <endpoint address="" binding="basicHttpBinding" contract="Delta.DeltaManager.ServiceNS.IServiceManager">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ServiceNS/ServiceManager" />
              </baseAddresses>
            </host>
          </service>
          
            <service name="Delta.DeltaManager.UserNS.UserManager">
                <endpoint address="" binding="basicHttpBinding" contract="Delta.DeltaManager.UserNS.IUserManager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.UserNS/UserManager" />
                    </baseAddresses>
                </host>
            </service>
          
          
          
          
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_DBManagerInterface" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Delta.DeltaDBManager/DBManager/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DBManagerInterface"
                contract="DBManagerServiceReference.DBManagerInterface" name="BasicHttpBinding_DBManagerInterface" />
        </client>
    </system.serviceModel>
</configuration>